h1 {
    color: darkblue;
    box-shadow: 2px 2px 5vh rgba(2, 2, 136, 0.548);
    font-size: medium;
}

h2 {
    color: darkblue;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: white;
    text-align: center;
}

.taskbar ul {
    list-style: none;
    background: 663366;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.taskbar li {
    display: inline-block;
}

.taskbar a {
    text-decoration: none;
    color: darkblue;
    display: block;
    padding: 25px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.taskbar a:hover {
    background: rgb(216, 216, 216);
    box-shadow: 2px 2px 4vh rgb(1, 57, 82);
}

.container {
    display: inline-block;
    text-align: center;
}

p {
    display: inline-block;
}

.promotion {
    margin-bottom: 20px;
}

.promotion h3 {
    font-size: 1.2em;
    color: #000000;
}

.promotion p {
    color: #000000;
}

.active-link {
    text-decoration: underline;
}
h3 {
    color: darkblue;
}

h4 {
    color: darkblue;
}
.card {
    box-shadow: 0 4px 8px 0 darkblue;
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    cursor: pointer;
    font-size: 13px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

button:hover,
a:hover {
    opacity: 0.7;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.title {
    color: black;
}
.header-container {
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    background-color: #f7f7f7; /* Background color */
    border: 1px solid #ddd; /* Border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding */
    margin-top: 20px; /* Margin from the top */
    text-align:justify;
}
.container1 {
    background-color: #f7f7f7; /* Background color */
    border: 1px solid #ddd; /* Border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding */
    margin-top: 20px; /* Margin from the top */
    text-align:justify;
    
}
.container2 {
    background-color: #f7f7f7; /* Background color */
    border: 1px solid #ddd; /* Border */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding */
    margin-top: 20px; /* Margin from the top */
    text-align:justify;
}
.center-container {
    text-align: center;
    margin: 20px auto; /* Center the container horizontally */
    max-width: 800px; /* Set maximum width for center-aligned content */
}
